<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INSIRA SEUS DADOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS do Materialize (CDN) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<fieldset>
<legend>CADASTRO DE PESSOAS</legend>
    <div class="row">
        <br />
        <div th:each="m : ${msg}">
            <span th:text="${m}"></span>
        </div>
        <br />
        <!-- Ajuste no formulário -->
        <form id="formpessoa" method="post" th:action="${pessoaobj.id == null} ? @{/salvarpessoa} : @{/atualizarpessoa}" th:object="${pessoaobj}" class="col s12">
            <div class="row">
                <div class="input field col s6">
                    <label for="id" class="active">ID </label> 
                    <input name="idpessoa" th:field="*{id}" id="id" readonly="readonly">
                </div>
                <div class="input field col s6">
                    <label for="nome" class="active">Nome</label> 
                    <input placeholder="Informe o Nome da Pessoa" name="nome" th:field="*{nome}" id="nome">
                </div>
            </div>
            <div class="row">
                <div class="input field col s6">
                    <label>Sobrenome</label> 
                    <input placeholder="Informe o Sobrenome da Pessoa" name="sobrenome" th:field="*{sobrenome}">
                </div>
                
				<div class="input field col s6">
					<label for="sexopessoa" class="active">SEXO</label> 
					<select class="browser-default" th:field="*{sexopessoa}">
						<option value="" disabled selected>[Selecione]</option>
						<option value="MASCULINO" th:text="Masculino" />
						<option value="FEMININO" th:text="Feminino" />
					</select>
				</div>
				
				<div class="input field col s6">
                    <label>Idade</label> 
                    <input placeholder="Informe a idade"name="idade" th:field="*{idade}">
                </div>
                <div class="input field col s6">
                    <label>Cep</label> 
                    <input placeholder="Informe o CEP "name="cep" th:field="*{cep}" id="cep">
                </div>
                <div class="input field col s6">
                    <label>Rua</label> 
                    <input name="rua" th:field="*{rua}" id="rua">
                </div>
                <div class="input field col s6">
                    <label>Bairro</label> 
                    <input name="bairro" th:field="*{bairro}" id="bairro">
                </div>
                <div class="input field col s6">
                    <label>Cidade</label> 
                    <input name="cidade" th:field="*{cidade}" id="cidade">
                </div>
                <div class="input field col s6">
                    <label>UF</label> 
                    <input name="uf" th:field="*{uf}" id="uf">
                </div>
            </div>

            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <input class="waves-effect waves-light btn-large" type="submit" value="Salvar">
                        <button class="waves-effect waves-light btn-large" type="button" onclick="document.getElementById('formpessoa').reset()">Limpar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
 </fieldset>
<fieldset>
<legend>CAMPO DE PESQUISA</legend>
    <div class="row">
    <form th:action="@{/pesquisarpessoa}" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <label for="nomepesquisa" class="active">Pesquisar Nome: </label>
                <input name="nomepesquisa" id="nomepesquisa" class="validate">
            </div>
          <div class="input field col s6">
          <label for="pesqsexo" class="active">PESQUISA SEXO</label>
          <select class="browser-default" name="pesqsexo" id="pesqsexo">
						<option value="" disabled selected>[Selecione]</option>
						<option value="MASCULINO" th:text="Masculino" />
						<option value="FEMININO" th:text="Feminino" />
					</select>
          </div>
            <div class="input-field col s12"> 
                <input class="waves-effect waves-light btn-large" type="submit" value="Pesquisar">
                <a class="waves-effect waves-light btn-large" th:href="@{/listapessoas}">Lista de Pessoas</a>
            </div>
        </div>
    </form>
</div>
    </fieldset>
    <table class="striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pessoa : ${pessoas}">
                <td th:text="${pessoa.id}"></td>
                <td>
                    <a th:href="@{/telefones/{id}(id=${pessoa.id})}">
                        <span th:text="${pessoa.nome}"></span>
                    </a>
                </td>
                <td th:text="${pessoa.sobrenome}"></td>
                <td th:text="${pessoa.idade}"></td>
                <td><a th:href="@{/editarpessoa/{id}(id=${pessoa.id})}">Editar</a></td>
                <td><a th:href="@{/removerpessoa/{id}(id=${pessoa.id})}">Excluir</a></td>
            </tr>
        </tbody>
    </table>

    <!-- Script do ViaCEP permanece igual -->
    <script>
        $(document).ready(function() {
            function limpa_formulário_cep() {
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
            }
            
            $("#cep").blur(function() {
                var cep = $(this).val().replace(/\D/g, '');
                if (cep != "") {
                    var validacep = /^[0-9]{8}$/;
                    if(validacep.test(cep)) {
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                            if (!("erro" in dados)) {
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                            } else {
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } else {
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } else {
                    limpa_formulário_cep();
                }
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>