<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CADASTRO</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Importando o Materialize CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS do Materialize (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Outras folhas de estilo personalizadas (se houver) -->
</head>
<body>
    <h1>Olá, seu projeto está em funcionamento</h1>
    <a th:href="@{/cadastropessoa}">Clique aqui para Cadastrar Pessoa</a>

    <!-- Importando o Materialize JS -->
    <script type="text/javascript" th:src="@{/materialize/js/materialize.js}"></script>
    <script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
</body>
</html>